<p>显示routestatus的内容</p>


<p>{{link-to '11111' 'funcs.routestatus.row1'}}</p>

<div class="detail">
	{{outlet "row1"}}
</div>


<p>{{link-to '22222' 'funcs.routestatus.row2'}}</p>

<div class="detail">
	{{outlet "row2"}}
</div>


<p>{{link-to '33333' 'funcs.routestatus.row3'}}</p>

<div class="detail">
	{{outlet "row3"}}
</div>